html{ 
    background: linear-gradient(90deg, rgba(157,195,171,1) 0%, rgba(106,170,182,1) 100%);
}

.path {
    stroke-dasharray: 1770;
    stroke-dashoffset: 1770;
    animation: initialPosition 2s linear forwards ;
    
}

svg{
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}
  
  
  /* initial */
@keyframes initialPosition {
    from {
        stroke-dashoffset: -1770;
    }
    to {
        stroke-dashoffset: -445;
    }
}

  /*initial to close*/
@keyframes initialToClose {
    from {
        stroke-dashoffset: -445;
    }
    to {
        stroke-dashoffset: -290;
    }
}

/* close to open */  
@keyframes closeToOpen {
    from {
        stroke-dashoffset: -290;
    }
    to {
        stroke-dashoffset: 0;
    }
}


/*open to close */
@keyframes openToClose {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -290;
    }
}